@media only screen and (max-width: 900px) {
    .card-wrapper {
        flex-direction: column;
    }
    .card {
        width: 60%;
        margin-bottom: 50px;
    }
    .card img {
        height: 200px;
    }
    #title {
        font-size: 0.7em;
    }
    #container {
        display: flex;
        align-items: center;
        padding: 10px;
        width: 90%;

    }
    #hole-container{
        margin-top: 0;
    }
    .title, .square, .label {
        padding: 10px 10px;
        width: 65px;
        overflow: scroll;
    }
    #hole-container, #par-container, #yard-container, #hdc-container {
        flex-direction: column;
    }
    #players-container1, #players-container2, #players-container3, #players-container4 {
        flex-direction: column;
    }
    #players-container1 {
        margin-top: 0;
    }
    #message {
        top: 0px;
        font-size: 0.8em;
        width: 200px;
    }
    body {
        height: 1300px;
    }
}